[Desktop Entry]
Type=Application
Name=Time Tracker
Exec=/usr/bin/time-tracker
TryExec=/usr/bin/time-tracker
Icon=time-tracker
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
StartupNotify=false
